body{
    background-color:#361E1E ;
    margin: 0;
    padding: 0 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition:0.5s;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0;

}
h2
{
    color:#a39595;
}
.cont-img
{
    width: 500px;
    aspect-ratio: 2/1;
    background-color: #3f3232;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.cont-img img {
    width: 100%;
}
p {
    max-width: 80%;
    text-wrap: wrap;
    height:auto;
    text-align: justify;
    color:#a38282;
}

a {
    color: #f2b84b;
}
