/* body {
    font-family: Arial, sans-serif;
    background: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.skills-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    scale: 0.95;
    transform: translateY(-50px);
    
}
.skill-info{
    animation: slideHorizontal 1s;
}
.skills-circle {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.skills-circle img {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;

}

.skills-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.skills-buttons button {
    position: absolute;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.skills-buttons button::before {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
}

.programming::before { background-color: #E74C3C; } /* Vermelho */
.markup::before      { background-color: #E67E22; } /* Laranja */
.style::before       { background-color: #F1C40F; } /* Amarelo */
.modeling::before    { background-color: #9B59B6; } /* Roxo */
.illustration::before{ background-color: #8E44AD; } /* Roxo Escuro */
.audio::before       { background-color: #D35400; } /* Laranja escuro */

@keyframes slideHorizontal {
    from{
        transform: translateX(100px);
    } 
    to{
        transform: translateX(0px);

    }
}